# =========================================
# Λb⁰ → Λc⁺ D*⁰ K⁻ configuration
# =========================================
geometry : LHCb
acceptance : AllIn
energy : 13
seed : 424242
ptRange : 0 100
etaRange : 1 6

paramsDecaying : M, P, PT
paramsStable : P, PT
paramsTwoBody : M M2

# --- Named two-body masses (for easy access later) ---
param : mLcK     M  1 3
param : mDstK    M  2 3
param : mLcDst   M  1 2
param : mLcK_true   M 1 3 TRUE
param : mDstK_true  M 2 3 TRUE
param : mLcDst_true M 1 2 TRUE

@0
	name : Lb0_0
@1
	name : Lambda_cp_0
	smear : LHCbGeneric
@2
	name : Dst0_0
	smear : LHCbGeneric
@3
	name : Km_0
	smear : LHCbGeneric
